@charset "utf-8";

/*************************Overall CSS************************/
html{
  font-family: 'Hind', sans-serif;
  color: #EEEEEE;
}

body{
  background-image: url(../img/background.jpg);
}

h1{
  font-size: 70px;

}

/******************CSS for Index.php**************************/
.indexTitle{
  text-align: center;
  margin: 15% auto 0 auto;
  max-width: 700px;
  font-size: 70px;
}

.fb-login-wrapper{
  width: 100%;
  height: 40px;
  padding-top: 40px;
  text-align: center;
}

input.fb-login-button{
  width: 299px;
  height: 60px;
  padding-right: 19px;
  text-decoration: none;
  border: none;
  outline: none;
  color: #EDEDED;
  cursor: pointer;
  font-size: 18px;
  font-family: 'Hind', sans-serif;
  text-align: right;
  background-color: #3b5998;
  background-image: url(../img/FbLogo.jpg);
  background-size: 60px;
  background-repeat: no-repeat;
  border-radius: 3px;
}

input.fb-login-button:disabled{
  background-color: #535353;
  cursor: not-allowed;
  background-image: url(../img/FbLogoDis.jpg);
  background-size: 60px;
  background-repeat: no-repeat;
}

.termsAndConditionsWrapper{
  max-width: 345px;
  margin: 40px auto;
}

.termsAndConditionsWrapper input{
  float: left;
  margin-right: 10px
}

.termsAndConditionsWrapper p{
  max-width: 780px;
  float: left;
  margin-top: 2px;
}

.termsAndConditionsWrapper #termsAndConditions{
text-decoration: underline;
}

/********************CSS for all subpages***********************/
h1.subPageTitle{
  font-size: 70px;
  text-align: center;
  margin:5% auto 0 auto;
  max-width: 700px;
}

/*****************CSS for Button******************************/
#button{
  width: 300px;
  height: 50px;
  text-decoration: none;
  border: none;
  outline: none;
  color: #EDEDED;
  cursor: pointer;
  font-size: 25px;
  font-family: 'Hind', sans-serif;
  text-align: center;
  font-weight: 500;
}

.gradientcolor{
  background: -webkit-linear-gradient(#D32353, #99163A);
  background: -o-linear-gradient(#D32353, #99163A);
  background: -moz-linear-gradient(#D32353, #99163A);
  background: linear-gradient(#D32353, #99163A);
}

.gradientcolor:hover{
  background: -webkit-linear-gradient(#D03761, #AF153F);
  background: -o-linear-gradient(#D03761, #AF153F);
  background: -moz-linear-gradient(#D03761, #AF153F);
  background: linear-gradient(#D03761, #AF153F);
}

.gradientcolor:active{
  background: -webkit-linear-gradient(#CC2251, #99163A );
  background: -o-linear-gradient(#CC2251, #99163A );
  background: -moz-linear-gradient(#CC2251, #99163A );
  background: linear-gradient(#CC2251, #99163A );
}
/*****************CSS for termsAndConditions.php***************/
article.articleTAC{
  max-width:
}

/********************CSS for preface.php***********************/



/**************CSS for Restaurant Choice.php******************/

.indexTitle{
  text-align: center;
  margin: 15% auto 0 auto;
  max-width: 85%;
  font-size: 36px;
}
.fb-login-wrapper{
  width: 100%;
  height: 40px;
  padding-top: 60%;
  text-align: center;
}
.termsAndConditionsWrapper{
  margin-right: auto;
  margin-left: auto;
  width: 290px;
  font-size: 13px;
}
.termsAndConditionsWrapper input{
  float: left;
  margin-right: 10px;
  margin-top: 0px;
}
@media (max-width:414px){
#Header {
  width: 100%;
  background-color: #6c1779;
  height: 50px;
  color: #eeeeee;
  overflow: hidden;
  position: relative;
}
#Header #icon_disclaimer {
  margin-top: 8px;
  margin-left: 8px;
}

#Header #icon_info {
  margin-left: 15px;
}
#Header #icon_logout {
  position: absolute;
  right: 8px;
  top: 8px;
}
